.tweet{
    display: inline-flex;
    align-items: flex-end;
    flex-direction: column;
    text-align: right;
    
    img{
        padding: 10px;
        width: 400px; height: 200px;
        align-items: flex-end;
        display: inline-block;
        background: #ffe73a;
        border-radius: 10px;
        margin-bottom: 5px;
    }
    h4{
        flex: content;
        align-items: flex-end;
        display: inline-block;
        padding: 10px;
        background: #ffe73a;
        font-size: 16px;
        border-radius: 5px;
    }
    span{
        opacity: 0.5;
        padding: 10px 0;
    }
}